* {
    font-family: "Poppins", sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(to bottom right, #f1cdc0, #d4f1c0);
}

h1{
    /*font-family: Impact, fantasy;*/
    text-align: center;
    color: #3dae91;
}

#grilleJeux {
    height: 70%;
    display: grid;
    grid-row: 2;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    margin-bottom: 100px;
}

#grilleJeux>div:hover {
    cursor: pointer;
}

#memory{
    /*font-family: Palatino, URW Palladio L, sans-serif;*/
    color: #3dae91;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

#pendu{
    /*font-family: Palatino, URW Palladio L, sans-serif;*/
    color: #3dae91;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

#jeuPoisson{
    /*font-family: Palatino, URW Palladio L, sans-serif;*/
    color: #3dae91;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
}

#cliquerNettoyer{
    /*font-family: Palatino, URW Palladio L, sans-serif;*/
    color: #3dae91;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

#Leafy{
    animation: moveCharacter 6s alternate infinite;
    position : absolute;
    bottom: 10%;
    grid-row:3;
    margin-top: 0vh;
    margin-right: 0vw;
    height: 268px;
    rotate: -15deg;
}

@keyframes moveCharacter {
    from {
      transform: rotate(-15deg);
     }
     to {
      transform: rotate(15deg);
   }
} 

#texteLeafy{
    grid-row: 3;
    border: solid #3dae91;
    position: absolute;
    /*font-family: Palatino, URW Palladio L, sans-serif;*/
    color: #3dae91;
    width: 300px;
    border-radius: 7px;
    padding: 5px;
    bottom: 5%;
    left :10vw;
}

.gameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.gameIcon {
    max-height: 60%;
    max-width: 160px;

    padding-bottom: 20px;
    display: block;
    border-bottom: 1px solid #3dae91;/* todo: faire une barre plus fine */
}