body{
    background-color: aqua;
}

#grilleJeux{
    grid-template-columns: 2;
    grid-template-rows: 2;
} 

#memory{
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

#pendu{
    display: grid;
    grid-column: 2;
    grid-row: 1;
}

#jeuPoisson{
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

#cliquerNettoyer{
    display: grid;
    grid-column: 2;
    grid-row: 2;
}