* {
    font-family: "Poppins", sans-serif;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: xxx-large;
    color: #3dae91;
    margin-left: auto;
    margin-right: auto;
    width: 107px;
    padding: 16px 140px;
    border-radius: 20px;
    border: 8px solid #114c3d;
}

.memo {
    border: 10px solid #114c3d;
    border-radius: 20px;
    width: 83%;
    margin: auto;
    position: relative;
    height: 60%;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top left, #d9a796, #bde6a1);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#main {
    min-width: 726px;
    max-width: 1250px;
    height: 100%;
    display: block;
    margin: auto;
}

div#memo-start {
    font-size: larger;
    transition: opacity 0.7s;
    width: 90%;
    position: absolute;
    z-index: 4000;
    margin-left: 30px;
}
p.startText {
    margin: 13px 0px;
}

#memoTitle {
    font-size: xx-large;
    color: #3dae91;
    margin-left: 36%;
}

div#boutonPlay {
    margin-left: auto;
    margin-right: auto;
    width: 107px;
}

#memo-play{
    opacity: 0;
    transition: opacity 0.7s;
    position: absolute;
    display: none;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
}

button.buttonMemo {
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    color: #3dae91;
    border: 5px solid #114c3d;
    padding: 10px;
    border-radius: 10px;
}

div#boutonPlay {
    margin-left: auto;
    margin-right: auto;
    width: 107px;
}
#resetbtn {
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    color: #3dae91;
    border: 5px solid #114c3d;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#resetbtn:hover {
    cursor: pointer;
}

#reset {
    margin-left: 30px;
    width: 107px;
    margin-bottom: 20px;
}
p#triesMemo {
    margin-right: auto;
    margin-left: auto;
    padding: 10px 36px;
    font-size: larger;
    text-align: center;
}
.memoimg {
    height: 180px;
    padding: 10px 0px;
    border: 5px solid #114c3d;
    border-radius: 10px;
    background-color: #24977a;
}

.memoimg:hover {
    cursor: pointer;
}

div#memo-right {
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#memoEx{
    display: none;
}


.modal-wrapper {
    background: rgba(0, 0, 0, 0.508);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}
  
  
.modal {
    text-align: center;
    max-width: 650px;
    background: rgb(183, 194, 207);
    padding: 20px;
    margin: auto 27%;
    margin-top: 10%;
    border-radius: 15px;
    position: relative;
    border: 5px solid #114c3d;
}
  
#titre-shop {
    margin: 8%;
    color: #3dae91;
    font-size: xxx-large;
}
  
.modal-close {
    color: #114c3d;
    border: 1px solid #114c3d;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 20px;
    border-radius: 5px;
}

#memo8 {
    grid-row: 3;
    grid-column: 2;
}

#memo9 {
    grid-row: 3;
    grid-column: 3;
}
#modal-info{
    
    z-index: 4000;
    visibility: hidden;
    display: flex;
    position : fixed;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
#modal-close{
    color:black;
    background-color: rgb(205, 132, 132);
    
}
.modal-inner-info{
    z-index: 4001;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 15px 25px;
    width: 380px;
}
