* {
    font-family: "Poppins", sans-serif;
}

div {
    position: absolute;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#poisson {
    width: 100px;
    height: 60px;
    background: grey;
    z-index: 4000;
}

#ocean {
    width: 100%;
    background: blue;
    height: 90%;
    top: 100px;
}

#sol {
    height: 100px;
    width: 100%;
    bottom: 0px;
    background: #debe5f;
}

@keyframes  oceanUpAndDown {
    from {
        bottom: -20px;
    }
    to {
        bottom: 0px;
    }
}

.dechet {
    background: green;
    z-index: 4000;
    width: 80px;
    height: 120px;
}

#soleil {
    width: 100px;
    height: 100px;
    background: yellow;
    right: 0;
    top: 0;
}
#modal{
    z-index: 4000;
    visibility: hidden;
    display: flex;
    position : fixed;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.modal-inner{
    z-index: 4001;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 15px 25px;
    width: 380px;
}